<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<h2>All users</h2>
<br><br>

<table>

  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Phone</th>
    <th colspan="2">Operations</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="user, iterStat : ${allUsers}"
      th:style="${iterStat.odd}? 'font-weight: bold;'">

    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.surname}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.phone}"></td>
    <td>
      <form th:action="@{/admin/updateUser}">
        <button type="submit" th:name="userId" th:value="${user.id}" th:action="@{/updateUser}">update</button>
      </form>
    </td>
    <td>
      <form th:action="@{/admin/deleteUser}">
        <button type="submit" th:name="userId" th:value="${user.id}" th:action="@{/deleteUser}">delete</button>
      </form>
    </td>

  </tr>
  </tbody>

</table>
<br>
<input type="button" value="Add" onclick="window.location.href = 'admin/addUser'"/>
<br>
<br>
<p><a type="button" th:href="@{/logout}" class="btn btn-secondary bg-secondary text-white">Logout</a></p>

</body>
</html>